button,
div,
form,
input {
  margin: 10px;
}

body {
  background: url('../images/food.jpg') no-repeat;
  font-family: 'Karla', sans-serif;
  color: red;
  background-attachment: fixed;
}

.jumbotron {
  background-image: url("../images/sub.png");
}